.main 
  .main__header 
    .main__header--left
      .main__header--left--group_name
        = @group.name
      .main__header--left--group_member
        %ul
          Member：
          - @group.users.each do |user|
            %li= user.name
    .main__header--edit
      = link_to edit_group_path(@group.id) do
        Edit
  .main__messages
    .main__messages--list
      = render partial: "message", collection: @messages 



  .main__form
    .create_message
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "input-box__text", placeholder: "type a message"
          = f.label :image, class: "input-box__image" do
            = icon("fas", "image")
            = f.file_field :image, class: "input-box__image--file"
          = f.submit "Send", class: "submit_btn"



      -#   %input{type: "text", class: "input-box__text", placeholder: "type a message"}
      -#   %label{class: "input-box__image"}
      -#     = icon("fas", "image")
      -#     %input{type: "file", class: "input-box__image--file"}
      -# %input{type: "submit", value: "Send", class: "submit_btn"}